{% extends 'base_template.html' %}

{% block Title %}
{{ worksample.title }}
{% endblock %}

{% block Content %}
<main class="main">
    <div class="container gutter-top gutter-bottom">
        <div class="row sticky-parent">
            <!-- Sidebar -->
            {% include 'components/sidebar.html' %}

            <!-- Content -->
            <div class="col-12 col-md-12 col-xl-9">
                <div class="box-outer" style="text-align: right">
                    <!-- Menu -->
                    {% include 'components/nav-menu.html' with type_page='worksample' %}

                    <!-- About -->
                    <div class="pb-3">
                        <h1 class="title title-section title--h1 title__separate">نمونه کار</h1>
                    </div>

                    <!-- Project details -->
                    <a class="btn-back text-right d-block" href="{% url 'public:worksamples' %}">
                        بازگشت به نمونه کارها
                        <i class="fa fa-angle-right"></i>
                    </a>

                    <header class="header-project">
                        <h1 class="title title--h1 text-right d-block w-100">
                            {{ worksample.title }}
                        </h1>
                        <div class="header-project__image-wrap">
                            <img class="cover lazyload" src="{{ worksample.get_cover }}"
                                 alt="{{ worksample.title }}"/>
                        </div>
                    </header>

                    <ul class="details-info details-info--inline d-block text-center mb-4" dir="ltr">
                        <!-- Skills -->
                        <li class="details-info__item">
                            <div class="details-info__info">
                                <span class="overhead">تکنولوژی ها</span>
                                {% for skill in worksample.skills.all %}
                                <span class="skill-tag">
                                            {{ skill.title }}
                                        </span>
                                {% endfor %}
                            </div>
                            <span class="box box--s2 icon-box"><i class="fa fa-file-code-o icon-gold"></i></span>
                        </li>
                        <!-- Date -->
                        <li class="details-info__item">
                            <div class="details-info__info">
                                <span class="overhead">تاریخ</span>
                                {{ worksample.date_time_create }}
                            </div>
                            <span class="box box--s2 icon-box"><i class="fa fa-calendar icon-gold"></i></span>
                        </li>
                        <!-- Views -->
                        <li class="details-info__item">
                            <div class="details-info__info">
                                <span class="overhead">بازدید ها</span>
                                {{ worksample.views }}
                            </div>
                            <span class="box box--s2 icon-box"><i class="fa fa-eye icon-gold"></i></span>
                        </li>
                    </ul>
                    <div style="line-height: 33px" dir="rtl">
                        {{ worksample.description|safe }}
                    </div>
                    <div class="swiper-container js-carousel-project ">
                        <div class="swiper-wrapper project-gallery">
                            {% for image in worksample.get_images %}
                            <!-- Item -->
                            <figure class="swiper-slide swiper-slide-project">
                                <img class="lazyload" src="{{ image.image.url }}" onclick="this.requestFullscreen()"
                                     alt="{{ worksample.title }}"/>

                            </figure>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div><!-- /swiper-container -->

                </div><!-- /box-outer -->
            </div><!-- /Content -->
        </div><!-- /sticky-parent -->
    </div><!-- /container -->
</main>

{% endblock %}