<div class="nav-container">
    <ul class="nav">
        <li class="nav__item"><a class="{% if type_page == 'contact_me' %}active{% endif %}" href="{% url 'public:contact_me' %}">ارتباط با من</a></li>
        <li class="nav__item"><a class="{% if type_page == 'worksamples' %}active{% endif %}" href="{% url 'public:worksamples' %}">نمونه کارها</a></li>
        <li class="nav__item"><a class="{% if type_page == 'resume' %}active{% endif %}"  href="{% url 'public:resume' %}">رزومه</a></li>
        <li class="nav__item"><a class="{% if type_page == 'home' %}active{% endif %}" href="{% url 'public:home' %}">درباره من</a></li>
    </ul>
</div>