<div class="nav-container">
    <ul class="nav">
        <li class="nav__item"><a class="{% if type_page == 'contact_me' %}active{% endif %}" href="{% url 'public:contact_me' %}">Contact Me</a></li>
        <li class="nav__item"><a class="{% if type_page == 'worksamples' %}active{% endif %}" href="{% url 'public:worksamples' %}">Projects</a></li>
        <li class="nav__item"><a class="{% if type_page == 'resume' %}active{% endif %}"  href="{% url 'public:resume' %}">Resume</a></li>
        <li class="nav__item"><a class="{% if type_page == 'home' %}active{% endif %}" href="{% url 'public:home' %}">About Me</a></li>
    </ul>
</div>