<aside class="col-12 col-md-12 col-xl-3">
    <div class="sidebar box-outer sticky-column">
        <!-- My photo -->
        <div class="sidebar__base-info">
            <figure class="avatar-box">
                <img src="{{ information.get_image }}" alt="{{ information.get_full_name }}">
            </figure>

            <div class="text-xl-center">
                <h3 class="title title--h3 sidebar__name">{{ information.get_full_name }}</h3>
                <div class="badge font-weight-bold">{{ information.work_position }}</div>
            </div>

            <button class="btn btn--small btn--icon-right sidebar__btn js-btn-toggle "><span>Show Information</span><i
                    class="fs-4 fa fa-bars"></i></button>
        </div>

        <div class="sidebar__additional-info js-show">
            <div class="separation"></div>
            <ul class="details-info">
                <!-- Email -->
                {% if information.email %}
                <li class="details-info__item">
                                        <span class="box box--s2 icon-box"><i
                                                class="icon-gold fa fa-envelope"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">Email</span>
                        <a class="text-overflow" href="mailto:{{ information.email }}"
                           title="{{ information.email }}">{{ information.email }}</a>
                    </div>
                </li>
                {% endif %}
                <!-- Phone -->
                {% if information.phone_number %}
                <li class="details-info__item">
                    <span class="box box--s2 icon-box"><i class="icon-gold fa fa-phone"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">Phonenumber</span>
                        <span class="text-overflow"
                              title="{{ information.phone_number }}">{{ information.phone_number }}</span>
                    </div>
                </li>
                {% endif %}
                <!-- Birthday -->
                {% if information.birthday %}
                <li class="details-info__item">
                                        <span class="box box--s2 icon-box"><i
                                                class="icon-gold fa fa-calendar"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">BirthDay</span>
                        <span class="text-overflow"
                              title="{{ information.birthday }}">{{ information.birthday }}</span>
                    </div>
                </li>
                {% endif %}
                <!-- Location -->
                {% if information.location %}
                <li class="details-info__item">
                                        <span class="box box--s2 icon-box"><i
                                                class="icon-gold fa fa-map-marker"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">Address</span>
                        <span class="text-overflow"
                              title="{{ information.location }}">{{ information.location }}</span>
                    </div>
                </li>
                {% endif %}
            </ul>
            <div class="separation d-xl-none"></div>

            <!-- Social -->
            <div class="social">
                {% if information.linkdin_id %}
                <a class="social__link"
                   href="https://www.linkedin.com/in/{{ information.linkdin_id }}"><i
                        class="fa fa-linkedin"></i></a>
                {% endif %}
                {% if information.instagram_id %}
                <a class="social__link"
                   href="https://www.instagram.com/{{ information.instagram_id }}"><i
                        class="fa fa-instagram"></i></a>
                {% endif %}
                {% if information.telegram_id %}
                <a class="social__link" href="https://telegram.me/{{ information.telegram_id }}"><i
                        class="fa fa-telegram"></i></a>
                {% endif %}
                {% if information.github_id %}
                <a class="social__link" href="https://github.com/{{ information.github_id }}"><i
                        class="fa fa-github"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</aside>